/* common banner start from here  */

.productdetails-banner-main {
    width: 100%;
    background: url(../images/product-details/background.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center center;
    padding-top: 150px;
    position: relative;
}

.productdetails-banner-main::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #030304;
    opacity: 0.6;
}

.productdetails-banner-main .container {
    background-color: transparent;
}

.productdetails-banner-main .title-box {
    padding-top: 140px;
    padding-bottom: 100px;
}

.productdetails-banner-main .title-box h2 {
    text-align: center;
    color: #fff;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 92px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}

.productdetails-banner-main .title-box p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

/* common banner ends here  */

/* breadcrumb section start from here  */

.details-breadcrumb-main {
    padding: 20px 60px;
    /* background: #f4f4f4; */
    background: #f2f2f2;
}

.details-breadcrumb-main .container {
    background-color: transparent;
}

.details-breadcrumb-main ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.details-breadcrumb-main ul li {
    list-style-type: none;
    font-size: 13pt;
    line-height: 19.25pt;
    padding-left: 15px;
    padding-right: 15px;
    color: #6496f3;
    text-transform: capitalize;
}

.details-breadcrumb-main ul li:first-child {
    padding-left: 0;
}

.details-breadcrumb-main ul li a {
    text-transform: capitalize;
    font-size: 13pt;
    line-height: 19.25pt;
    color: #333333;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    position: relative;
}

.details-breadcrumb-main ul li a::after {
    position: absolute;
    right: -17px;
    top: 5px;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
}


.details-breadcrumb-main ul li a:hover {
    color: #6496f3;
}

/* breadcrumb section ends here  */


/* product details section start from here  */

.product-details-main {
    padding: 75px 60px;
}

.product-details-main .product-details-flex {
    display: flex;
    flex-wrap: wrap;

}

.product-details-main .product-details-flex .left-sidebar-main {
    flex-basis: 25%;
}

.product-details-main .product-details-flex .center-descrption-main {
    flex-basis: 50%;
}

.product-details-main .product-details-flex .right-sidebar-main {
    flex-basis: 25%;
}

/* product details section ends here  */





.demo-list a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.jquery-accordion-menu,
.jquery-accordion-menu * {

    box-sizing: border-box;
    outline: 0;
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.jquery-accordion-menu ul li a {
    width: 100%;

    text-decoration: none;
    color: #000;
    font-size: 13px;

    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: color .2s linear, background .2s linear;
}



.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left;
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
    padding-left: 0;
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%;
}

.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;

    font-size: 11px;

    border-top: none;
    position: relative;

    transition: border .2s linear;
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    transform: scale(0);
}

.animate-ink {
    animation: ripple .5s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.submenu-product {
    margin-bottom: 25px;
}