@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common banner start from here  */

.productdetails-banner-main {
    width: 100%;
    background: url(../images/product-details/background.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center center;
    padding-top: 150px;
    position: relative;
}

.productdetails-banner-main::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #030304;
    opacity: 0.6;
}

.productdetails-banner-main .container {
    background-color: transparent;
}

.productdetails-banner-main .title-box {
    padding-top: 140px;
    padding-bottom: 100px;
}

.productdetails-banner-main .title-box h2 {
    text-align: center;
    color: #fff;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 92px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}

.productdetails-banner-main .title-box p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

/* common banner ends here  */

/* breadcrumb section start from here  */

.details-breadcrumb-main {
    padding: 20px 60px;
    /* background: #f4f4f4; */
    background: #f2f2f2;
}

.details-breadcrumb-main .container {
    background-color: transparent;
}

.details-breadcrumb-main ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.details-breadcrumb-main ul li {
    list-style-type: none;
    font-size: 13pt;
    line-height: 19.25pt;
    padding-left: 15px;
    padding-right: 15px;
    color: #6496f3;
    text-transform: capitalize;
}

.details-breadcrumb-main ul li:first-child {
    padding-left: 0;
}

.details-breadcrumb-main ul li a {
    text-transform: capitalize;
    font-size: 13pt;
    line-height: 19.25pt;
    color: #333333;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    position: relative;
}

.details-breadcrumb-main ul li a::after {
    position: absolute;
    right: -17px;
    top: 5px;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
}


.details-breadcrumb-main ul li a:hover {
    color: #6496f3;
}

/* breadcrumb section ends here  */


/* product details section start from here  */

.product-details-main {
    padding: 75px 60px;
}

.product-details-main .product-details-flex {
    display: flex;
    flex-wrap: wrap;

}

.product-details-main .product-details-flex .left-sidebar-main {
    flex-basis: 25%;


}


.product-details-main .product-details-flex .left-sidebar-main .content {
    min-height: unset !important;
}

.product-details-main .product-details-flex .center-descrption-main {
    flex-basis: 50%;
    position: relative;

}

.center-content-box {
    padding-left: 100px;
    padding-right: 70px;
}

.product-details-main .product-details-flex .center-descrption-main::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: #cccccc;
}


.product-details-main .product-details-flex .center-descrption-main .title-box {
    margin-bottom: 50px;
}

.product-details-main .product-details-flex .center-descrption-main .title-box h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
    position: relative;
}

.product-details-main .product-details-flex .center-descrption-main .title-box h2::before {
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 55px;
    content: '';
    background: #999999;
}

.product-details-main .product-details-flex .center-descrption-main .title-box p {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    color: #4f4f4f;
}

.product-details-main .product-details-flex .center-descrption-main .description {
    margin-top: 80px;
    margin-bottom: 35px;
}

.product-details-main .product-details-flex .center-descrption-main .description p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 0;
}

.product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 9px;
    row-gap: 20px;

}

.product-details-main .product-details-flex .right-sidebar-main {
    flex-basis: 25%;
    position: relative;
}

.product-details-main .product-details-flex .right-sidebar-main::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: #cccccc;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {
    padding-left: 20px;
    margin-top: 45px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a {
    font-size: 15.58px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a:hover {
    color: #6496f3;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a img {
    margin-right: 10px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box {
    padding: 10px 5px;
    border: 1px solid #878787;
    min-height: 100px;
    margin-top: 50px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .info-bg {
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .info-bg h5 {
    font-size: 18.04px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 10px;

}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .info-bg p a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16.04px;
    font-weight: 400;
    color: #373737;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .info-bg p {
    margin-bottom: 10px;
    line-height: normal;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .info-bg p:last-child {
    margin-bottom: 0;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group {
    margin-bottom: 5px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group input {
    padding: 5px 8px;
    width: calc(100% - 20px);
    border: 1px solid #c6c6c6;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.36px;
    font-weight: 400;

}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group select {
    padding: 5px 8px;
    width: 100%;
    border: 1px solid #c6c6c6;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.36px;
    font-weight: 400;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group textarea {
    padding: 5px 8px;
    width: 100%;
    width: calc(100% - 20px);
    border: 1px solid #c6c6c6;
    min-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.36px;
    font-weight: 400;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group textarea:focus {
    box-shadow: none;
    outline: none;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group select:focus {
    box-shadow: none;
    outline: none;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .form-group input:focus {
    box-shadow: none;
    outline: none;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .terms {
    margin-bottom: 24px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .terms p {
    font-family: 'Open Sans', sans-serif;
    font-size: 8.5px;
    font-weight: 400;
    line-height: 11px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .checks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .checks input[type=checkbox] {
    width: 20px;
    height: 18px;
}

.product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content .contact-box .checks label {
    font-size: 9.02px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

/* product details section ends here  */





.demo-list a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.demo-list li a {
    text-transform: uppercase;
}

.demo-list li ul li a {
    text-transform: capitalize;
    font-weight: normal;


}

.jquery-accordion-menu,
.jquery-accordion-menu * {

    box-sizing: border-box;
    outline: 0;
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.jquery-accordion-menu ul li a {
    width: 100%;

    text-decoration: none;
    color: #000;
    font-size: 13px;

    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: color .2s linear, background .2s linear;
}

.jquery-accordion-menu ul li a:hover {
    color: #6496f3;
}


.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left;
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
    padding-left: 0;
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%;
}

.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;

    font-size: 11px;

    border-top: none;
    position: relative;

    transition: border .2s linear;
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    transform: scale(0);
}

.animate-ink {
    animation: ripple .5s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.submenu-product {
    padding-bottom: 25px !important;
}

.jquery-accordion-menu ul li {
    margin-bottom: 22px;
}

.jquery-accordion-menu ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.jquery-accordion-menu ul ul.submenu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.jquery-accordion-menu ul ul.submenu li {
    margin-bottom: 14px;
}

.jquery-accordion-menu ul ul.submenu {
    margin-top: 10px;
}

.jquery-accordion-menu ul ul.submenu li ul.submenu li {
    /* margin-bottom: 10px; */
    margin-bottom: 14px;
}

.jquery-accordion-menu ul ul.submenu li:last-child {
    margin-bottom: 0;
}

.jquery-accordion-menu ul ul.submenu li ul.submenu li:last-child {
    margin-bottom: 35px;
}

.submenu-gap {
    margin-bottom: 35px;
}

.jquery-accordion-menu ul ul.submenu li a.active {
    color: #00a3f2;
    font-weight: 700;
}

/* category page start from  here  */

.product-details-main .product-details-flex .center-descrption-main .category-short-desc {
    margin-bottom: 90px;
}

.product-details-main .product-details-flex .center-descrption-main .category-short-desc p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 22px;
    margin-bottom: 0;
}

.product-details-main .product-details-flex .center-descrption-main .product-category-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.product-details-main .product-details-flex .center-descrption-main .product-category-grid .single-image-box {
    padding: 6px;
    border: 1px solid #ababab;
    overflow: hidden;
    position: relative;
}

.product-details-main .product-details-flex .center-descrption-main .product-category-grid .single-image-box img {
    width: 100%;
    height: 100%;

    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


.product-details-main .product-details-flex .center-descrption-main .product-category-grid .single-image-box:hover img {
    transform: scale(1.1);

}


/* category page end here  */



/* responsive css start from here  */
@media(min-width:1441px) {
    .title-box.mb-35 {
        margin-bottom: 35px !important;
    }

}

@media(min-width:1366px) and (max-width:1440px) {
    .productdetails-banner-main .title-box {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    .productdetails-banner-main .title-box h2 {
        font-size: 55px;
        line-height: 55px;
    }

    .productdetails-banner-main .title-box p {
        font-size: 16px;
    }

    .product-details-main {
        padding: 45px 30px;
    }

    .product-details-main .product-details-flex {
        flex-wrap: nowrap;
    }

    .center-content-box {
        padding-left: 40px;
        padding-right: 30px;
    }

    .jquery-accordion-menu ul li a {

        font-size: 14px;
    }

    .jquery-accordion-menu ul ul.submenu li a {

        font-size: 13px;

    }

    .jquery-accordion-menu ul li {
        margin-bottom: 15px;
    }

    .jquery-accordion-menu ul ul.submenu li {
        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li {

        margin-bottom: 8px;
    }

    .details-breadcrumb-main ul li a {
        font-size: 13px;
    }

    .details-breadcrumb-main ul li {
        font-size: 13px;
    }

    .details-breadcrumb-main {
        padding: 15px 30px;

    }

    .details-breadcrumb-main ul li a::after {

        top: 2px;

    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2 {
        font-size: 25px;

        line-height: 30px;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box p {


        font-size: 17px;

    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {

        margin-top: 30px;
    }

    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }
}

@media(min-width:1001px) and (max-width:1365px) {
    .productdetails-banner-main .title-box {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    .productdetails-banner-main .title-box h2 {
        font-size: 55px;
        line-height: 55px;
    }

    .productdetails-banner-main .title-box p {
        font-size: 16px;
    }

    .product-details-main {
        padding: 45px 30px;
    }

    .product-details-main .product-details-flex {
        flex-wrap: nowrap;
    }

    .center-content-box {
        padding-left: 40px;
        padding-right: 30px;
    }

    .jquery-accordion-menu ul li a {

        font-size: 14px;
    }

    .jquery-accordion-menu ul ul.submenu li a {

        font-size: 13px;

    }

    .jquery-accordion-menu ul li {
        margin-bottom: 15px;
    }

    .jquery-accordion-menu ul ul.submenu li {
        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li {

        margin-bottom: 8px;
    }

    .details-breadcrumb-main ul li a {
        font-size: 13px;
    }

    .details-breadcrumb-main ul li {
        font-size: 13px;
    }

    .details-breadcrumb-main {
        padding: 15px 30px;

    }

    .details-breadcrumb-main ul li a::after {

        top: 2px;

    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2 {
        font-size: 25px;

        line-height: 30px;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box p {


        font-size: 17px;

    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {

        margin-top: 30px;
    }

    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media(min-width:992px) and (max-width:1000px) {
    .productdetails-banner-main {

        padding-top: 0;

    }

    .productdetails-banner-main .title-box {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .productdetails-banner-main .title-box h2 {
        font-size: 40px;
        line-height: 1.3;
    }

    .productdetails-banner-main .title-box p {
        font-size: 15px;
        margin-top: 0;
    }

    .details-breadcrumb-main {
        padding: 20px 20px;

    }

    .details-breadcrumb-main ul li {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }



    .details-breadcrumb-main ul li a {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .details-breadcrumb-main ul li a::after {
        right: -7px;
        top: 4px;
    }

    .product-details-main .product-details-flex .left-sidebar-main {
        flex-basis: 100%;
    }

    .product-details-main .product-details-flex .center-descrption-main {
        flex-basis: 100%;
        margin-top: 50px;


    }

    .product-details-main .product-details-flex .right-sidebar-main {
        flex-basis: 25%;
        flex-basis: 100%;
    }

    .product-details-main {
        padding: 35px 20px;
    }

    .jquery-accordion-menu ul li a {

        font-size: 16px;
    }

    .jquery-accordion-menu ul li {
        margin-bottom: 15px;
    }

    .jquery-accordion-menu ul ul.submenu li {
        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li {

        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li:last-child {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .center-descrption-main::before {
        display: none;
    }

    .center-content-box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2 {
        font-size: 29px;
        line-height: 35px;
        text-align: center;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2::before {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box p {
        font-size: 17px;
        margin-top: 20px;
    }

    .product-details-main .product-details-flex .center-descrption-main .description {
        margin-top: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex .single-image img {
        height: 100%;
        width: 100%;
    }

    .product-details-main .product-details-flex .right-sidebar-main::before {
        display: none;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {
        padding-left: 0;
    }

    .product-details-flex {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a {
        font-size: 13px;
    }

    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}


@media(min-width:768px) and (max-width:991px) {
    .productdetails-banner-main {

        padding-top: 0;

    }

    .productdetails-banner-main .title-box {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .productdetails-banner-main .title-box h2 {
        font-size: 40px;
        line-height: 1.3;
    }

    .productdetails-banner-main .title-box p {
        font-size: 15px;
        margin-top: 0;
    }

    .details-breadcrumb-main {
        padding: 20px 20px;

    }

    .details-breadcrumb-main ul li {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }



    .details-breadcrumb-main ul li a {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .details-breadcrumb-main ul li a::after {
        right: -7px;
        top: 4px;
    }

    .product-details-main .product-details-flex .left-sidebar-main {
        flex-basis: 100%;
    }

    .product-details-main .product-details-flex .center-descrption-main {
        flex-basis: 100%;
        margin-top: 50px;


    }

    .product-details-main .product-details-flex .right-sidebar-main {
        flex-basis: 25%;
        flex-basis: 100%;
    }

    .product-details-main {
        padding: 35px 20px;
    }

    .jquery-accordion-menu ul li a {

        font-size: 16px;
    }

    .jquery-accordion-menu ul li {
        margin-bottom: 15px;
    }

    .jquery-accordion-menu ul ul.submenu li {
        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li {

        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li:last-child {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .center-descrption-main::before {
        display: none;
    }

    .center-content-box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2 {
        font-size: 29px;
        line-height: 35px;
        text-align: center;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2::before {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box p {
        font-size: 17px;
        margin-top: 20px;
    }

    .product-details-main .product-details-flex .center-descrption-main .description {
        margin-top: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex {
        grid-template-columns: 1fr 1fr;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex .single-image img {
        height: 100%;
        width: 100%;
    }

    .product-details-main .product-details-flex .right-sidebar-main::before {
        display: none;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {
        padding-left: 0;
    }

    .product-details-flex {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a {
        font-size: 13px;
    }

    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media(max-width:767px) {
    .productdetails-banner-main {

        padding-top: 0;

    }

    .productdetails-banner-main .title-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .productdetails-banner-main .title-box h2 {
        font-size: 30px;
        line-height: 1.3;
    }

    .productdetails-banner-main .title-box p {
        font-size: 12px;
        margin-top: 0;
    }

    .details-breadcrumb-main {
        padding: 20px 20px;

    }

    .details-breadcrumb-main ul li {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
    }



    .details-breadcrumb-main ul li a {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .details-breadcrumb-main ul li a::after {

        right: -8px;
        top: 2px;

    }

    .product-details-main .product-details-flex .left-sidebar-main {
        flex-basis: 100%;
    }

    .product-details-main .product-details-flex .center-descrption-main {
        flex-basis: 100%;
        margin-top: 50px;


    }

    .product-details-main .product-details-flex .right-sidebar-main {
        flex-basis: 25%;
        flex-basis: 100%;
    }

    .product-details-main {
        padding: 35px 20px;
    }

    .jquery-accordion-menu ul li a {

        font-size: 16px;
    }

    .jquery-accordion-menu ul li {
        margin-bottom: 15px;
    }

    .jquery-accordion-menu ul ul.submenu li {
        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li {

        margin-bottom: 8px;
    }

    .jquery-accordion-menu ul ul.submenu li ul.submenu li:last-child {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .center-descrption-main::before {
        display: none;
    }

    .center-content-box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2 {
        font-size: 29px;
        line-height: 35px;
        text-align: center;
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box h2::before {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .product-details-main .product-details-flex .center-descrption-main .title-box p {
        font-size: 17px;
        margin-top: 20px;
    }

    .product-details-main .product-details-flex .center-descrption-main .description {
        margin-top: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex {
        grid-template-columns: 1fr;
    }

    .product-details-main .product-details-flex .center-descrption-main .related-products .related-product-flex .single-image img {
        height: 100%;
        width: 100%;
    }

    .product-details-main .product-details-flex .right-sidebar-main::before {
        display: none;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content {
        padding-left: 0;
    }

    .product-details-flex {
        margin-bottom: 15px;
    }

    .product-details-main .product-details-flex .right-sidebar-main .right-sidebar-content ul li a {
        font-size: 13px;
    }

}

@media(min-width:576px) and (max-width:767px) {
    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media(min-width:415px) and (max-width:575px) {
    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media(max-width:414px) {
    .product-details-main .product-details-flex .center-descrption-main .category-short-desc {
        margin-bottom: 50px;
    }

    .product-details-main .product-details-flex .center-descrption-main .product-category-grid {

        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
}









/* responsive css ends here  */